
.header {
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 22px;
  justify-content: space-around;
  border-bottom: 1px solid #eaeaea;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 34px;          
  width: auto;           
  object-fit: contain;   
  display: block;
}

/* adrees */
.address {
 width: 100%;
 max-width: 200px;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #ddd;
  padding: 10px 16px;
  border-radius: 22px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  white-space: nowrap;
}

/* search */
.search {
  width: 100%;
  max-width: 410px;
  height: 44px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 0 16px;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.search i {
  font-size: 16px;
  color: #000;
}

/* right icons */
.actions {
  display: flex;
  align-items: center;
  gap: 22px;
}

.actions i {
  font-size: 20px;
  cursor: pointer;
}

.icon {
  position: relative;
}

.icon span {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #000;
  color: #fff;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f5f5f5;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.main-section{
    display: flex;
    gap: 20px;
}

/* =================== Left Sidebar =================== */
.category-box{
    width: 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.category-all{
    background: #b6c43f;
    color: #fff;
    padding: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.category-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border-bottom: 1px solid #eaeaea;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.category-item:hover{
    background: #f7f7f7;
}

.category-item i{
    color: #999;
    font-size: 12px;
}


.right-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.top-menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}

.top-menu ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.2s;
}

.top-menu ul li a:hover{
    background: #b6c43f;
    color: #fff;
}
.banner{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px; 
}


.slider{
    position: relative;
    height: 600px;
}

.slide{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide.active{
    opacity: 1;
}

.banner-info{
    position: absolute;
    top: 20px;
    left: 20px;
}

.price-box{
    background: #ffd700;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    color: #000;
}

.stats{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.stat-item{
    text-align: center;
}

.stat-item h3{
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.stat-item p{
    color: #666;
    font-weight: 600;
}
