.header {
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 22px;
  justify-content: space-around;
  border-bottom: 1px solid #eaeaea;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 34px;          
  width: auto;           
  object-fit: contain;   
  display: block;
}

/* adrees */
.address {
 width: 100%;
 max-width: 200px;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #ddd;
  padding: 10px 16px;
  border-radius: 22px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  white-space: nowrap;
}

/* search */
.search {
  width: 100%;
  max-width: 410px;
  height: 44px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 0 16px;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.search i {
  font-size: 16px;
  color: #000;
}

/* right icons */
.actions {
  display: flex;
  align-items: center;
  gap: 22px;
}

.actions i {
  font-size: 20px;
  cursor: pointer;
}

.icon {
  position: relative;
}

.icon span {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #000;
  color: #fff;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}